html {
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #333;

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}



/* Header */
.header {
    width: 100%;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    line-height: normal;
}

.header__inner__left {
    display: flex;
    width: 50%;
    align-items: center;
    max-width: 570px;
    font-weight: 600;
    font-size: 1.5em;
    color: #605D82;
    padding: 1.5em;
}

.header__inner__left_title {
    font-size: 36px;
    font-weight: 700;
}

.header__inner__right {
    display: flex;
    align-items: center;
    width: 50%;
    max-width: 530px;
    font-size: 1.5em;
    color: #fff;
    padding: 1em;
    background-color: #605D82;
}

/* Intro */
.intro {
    margin-top: 2em;
}

.intro__inner {
    display: flex;
    justify-content: space-between;
}

.intro__item__left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FBFBFB;
    border: 3px solid #969696;
    border-radius: 17px;
    text-align: center;
    padding-top: 1em;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    max-width: 600px;
    max-height: 400px;
}

.span__intro {
    max-width: 400px;
}

.left__item__text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    line-height: 1.16;
    padding-top: 40px;
    height: 200px;
}

.left__item__numb {
    width: 100%;
    font-size: 24px;
    height: 0px;
    color: #242424;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}

.color__text {
    font-weight: 700;
    color: #605D82;
}

.intro__Img {
    position: relative;

}

.intro__png {
    max-width: 100%;
}

.eclips {
    position: absolute;
    max-width: 230px;
    top: 50%;
    /* left: 69%; */
    left: calc(100% - 150px);
}

/* product */
.product__titile {
    text-align: center;
    height: 200px;
    align-items: center;
    color: #464646;
    justify-content: center;
    display: flex;
}

/* table */
.table {
    color: #353535;
    min-width: 1200px;
}
.tb_tr{
    color: #353535;
    font-weight: 700;
}
.tb_tr td{
    max-width: 350px;
}
.table__info{
    text-align: center;
}
.table-secondary{
    color: #353535!important;
}
.main__table {
    font-size: 20px;
    
}
.caunt__broom{
    /* min-width: 110px; */
}
.table__cent{
    text-align: center;
}

.table__title {
    font-size: 25px;
    vertical-align: baseline;
}
.table__title__col{
    color: #353535!important;
    font-weight: 700;
}
.top__sail {
    background-color: #000;
    color: #000;
}
.direct{
    font-weight: 500;
}
.tb_tr {
    vertical-align: middle;
}

.table_rub {
    display: flex;
    justify-content: center;
    min-width: 132px;
}
.col__box{
    max-width: 155px;
}
.text__sail {
    display: block;
    text-align: center;
    width: 150px;
    padding: 0.3em;
    border-radius: 5px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: #C4C4C4;
}


/* fixed */
.fixed__info {
    position: fixed;
    text-align: center;
    width: 200px;
    font-size: 20px;
    color: #fff;
    background-color: #605D82;
    top: calc(100% - 60px);
    min-width: 10%;
    min-height: 20%;
    left: 0;
    right: 0;
    z-index: 1000;
}

.fixed__text {
    text-decoration: none;
    color: #fff;
}

.fixed__text:hover {
    text-decoration: none;
    color: #fff;
}

/* form */
.form__section {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 500px;
    align-items: center;

}

.form__div {
    min-width: 300px;
    height: 350px;
    display: flex;
    background-color: #FCFCFC;
    padding: 50px;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    border: 3px solid #EBEBEB;
    max-width: 650px;
    border-radius: 5px;

}

.form__div__content {
    display: flex;
    max-width: 470px;
    align-items: center;
    flex-wrap: wrap;
}

.btn-primary {
    background: #3F3D56 !important;
    font-size: 24px !important;
    font-weight: 700 !important;
    border: none !important;
    margin-top: 0.5em;
    
    width: 100%;
}

.btn-primary:hover {
    background: #A85252 !important;
    transition: 0.4s;
}

.form__title {
    color: #333333;
    font-weight: 700;
    font-size: 1.5em;
}
.form-control{
  
    background: #F3F3F3!important;
    border: none!important;
}

input::placeholder {
    color: rgba(57, 57, 57, 0.27)!important;
  }
.form-group {
    margin-top: 1em;
    width: 100%;
}


@media (min-width: 1400px) and (max-width:1600px) {
    .eclips {
        max-width: 40%;
        /* left: 70% */
    }

    .form__div {
        max-width: 650px;

    }

}


@media (min-width: 1200px) and (max-width:1400px) {
    .eclips {
        max-width: 35%;
    }

    .form__div {
        max-width: 600px;

    }

    .intro__item__left {
        width: 50%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .header__inner {
        height: 130px;
    }

    .header__inner__left_title {
        font-size: 26px;
    }


    .left__item__text {
        padding-top: 10px;
    }

    .eclips {
        max-width: 35%;
        /* left: 62%; */
    }

    .intro__item__left {
        width: 50%;
    }

    /* .form__div {
        max-width: 450px;

    } */
}

@media (min-width: 768px) and (max-width: 992px) {
    .header__inner {
        height: 106px;
    }

    .header__inner__left_title {
        font-size: 13px;
    }

    .left__item__numb {
        font-size: 22px;
        height: auto;
    }

    .left__item__text {
        padding-top: 10px;
        font-size: 25px;
    }

    .eclips {
        max-width: 35%;
        /* left: 62%; */
        left: calc(100% - 120px);
    }

    .intro__item__left {
        width: 50%;
    }

    .product__titile {
        height: 150px;
    }

    .form__div {
        max-width: 500px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .header__inner {
        font-size: 14px;
        height: 75px;
    }

    .intro__inner {
        flex-wrap: wrap;
    }

    .intro__item__left {
        width: 100%;
    }

    .intro__item__right {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .header__inner__right {
        font-size: 14px;
        width: 50%;
    }

    .header__inner__left_title {
        font-size: 13px;
    }

    .left__item__numb {
        font-size: 22px;
        height: auto;
    }

    .left__item__text {
        padding-top: 10px;
        font-size: 25px;
    }

    .eclips {
        max-width: 30%;
        top: 56%;
        left: calc(100% - 75px);
    }

    .intro__item__left {
        width: 50%;
    }

    .header__Price {
        font-size: 14px;
        font-weight: 700;
    }

    .intro__item__right {
        width: 50%;
        display: flex;
        align-items: center;
    }

    .form__div {
        max-width: 450px;
    }

    .product__titile {
        height: 150px;
    }
}

@media (min-width: 320px) and (max-width: 576px) {
    .header__inner {
        font-size: 14px;
        height: 75px;
    }

    .header__inner__right {
        font-size: 14px;
        width: 50%;
    }

    .header__inner__left_title {
        font-size: 13px;
    }

    .left__item__numb {
        font-size: 22px;
        height: auto;
    }

    .left__item__text {
        padding-top: 10px;
        font-size: 25px;
    }

    .eclips {
        max-width: 28%;
        left: calc(100% - 140px);
        top: 60%;
    }

    .intro__inner {
        flex-wrap: wrap;
    }

    .intro__item__left {
        width: 100%;
    }

    .intro__item__right {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .header__Price {
        font-size: 14px;
    }

    .product__titile {
        height: 100px;
    }

    .form__title {
        font-size: 1.5em;
    }

    .form__div {
        height: 300px;
    }
}

@media (min-width: 320px) and (max-width: 450px) {
    .header__inner__right {
        font-size: 10px;
    }

    .header__inner__left {
        font-size: 10px;
    }

    .header__inner__left_title {
        font-size: 10px;
    }

    .header__Price {
        font-size: 10px;
    }

    .form__title {
        font-size: 1.2em;
    }

    .eclips {
        max-width: 30%;
        left: calc(100% - 87px);
    }

}