body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 24px; 
    color:#333;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
    margin: 0;
    padding: 0;
}
/* Container */
/* .container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;

} */

/* Header */
.header {
    width: 100%;
}

.header__inner{
    display: flex;
    justify-content: space-between;
}

.header__inner__left{
    display: flex;
    align-items: center;
    max-width: 570px;
    font-weight: 600;
    font-size: 24px;
    color: #C55F5F;
    padding: 1.5em;
}

.header__inner__left_title{
    font-size: 36px;  
}

.header__inner__right{
    display: flex;
    align-items: center;
    max-width: 570px;
    font-size: 24px;
    color: #fff;
    padding: 1.5em;
    background-color: #C55F5F;
}

/* Intro */
.intro{
    margin-top: 3em;
}

.intro__inner {
   display: flex;
   justify-content: space-around;
}

.intro__item__left{
    
    background-color: #FBFBFB;
    border: 3px solid #969696;
    border-radius: 17px;
    text-align: center;
    padding-top: 1em;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.left__item__text{
    font-size: 36px;
    line-height: 1.16;
}
.left__item__numb{
    font-size: 24px;
}
.color__text{
    color:#C55F5F;
}
.intro__Img{
    position: relative;
}
.intro__png{
    max-width: 100%;
}
.eclips{
    position: absolute;
    max-width: 50%;
    top:50%;
    left:80%;
}

/* product */
.product__titile{
    text-align: center;
    margin: 5em;
}

/* table */
.table{
    color:#353535;
}

.main__table{
    font-size: 20px;
}

.table__title{
    font-size: 25px;
}
.top__sail{
    background-color: #000;
}
.tb_tr{
    vertical-align: middle;
}
.text__sail{
    display: block;
    text-align: center;
    padding: 0.3em;
    background-color: #C4C4C4;
}


/* fixed */
.fixed__info{
    position: fixed;
    text-align: center;
    width: 16%;
    font-size: 20px;
    color: #fff;
    background-color: #C55F5F;
    top:80%;
    left:0;
    right: 0;
    z-index: 1000;
}

/* form */
.form__section{
    text-align: center;
}
